<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收集网页数据</title>
</head>
<body>
<div align="center">
    <h2 >收集数据</h2>
    <form  method="post" action="/collecting" >
        <label>url</label>
        <input type="text" name="url"><br>
        <label>中图分类号</label>
        <input type="text" name="clc"><br>
        <label>Cookie</label>
        <input type="text" name="cookie"><br>
        <label>总页数</label>
        <input type="text" name="totalPages"><br>
        <input type="submit" value="开始收集">

    </form>
</div>
</body>
</html>