<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>term</title>
</head>
<body>

<div align="center">
<h2 >术语输入</h2>
<form  method="post" action="/term" >
    <label>术语名称</label>
    <input type="text" name="tName"><br>
    <label>术语英文名称</label>
    <input type="text" name="tEn"><br>
    <label>术语描述</label>
    <input type="text" name="tDescription"><br>
    <label>术语分类</label>
    <input type="text" name="tCategory"><br>
    <input type="submit" value="添加">

</form>
</div>

</body>
</html>